body {
    font-family: 'Arial', sans-serif;
    background-color: #02dc7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-button:hover {
    background-color: #45a049;
}

.select {
    margin-left: 10px;
}

.filter-todo {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0f7fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    background-color: #c8e6c9;
}

li .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
}

li .delete-btn:hover {
    background-color: #d32f2f;
}
